.content {
  background-color: #00449E;
  color: lightgray;
  font-family: "system-ui";
  margin: 15px;
}

.line {
  width: auto;
  border-bottom: 3px solid lightgray;
}

.list {
  list-style-type: none;
  padding-left: 0px;
}

.card {
  padding: 16px;
  margin: 2px;
  background-color: #00449E;
  border: 1px solid lightgray;
  max-width: 400px;
}

li:hover {
  background-color: gray;
}
