.left {
  width: 50%;
  float: left;
}

.right {
  margin-left: 50%;
}

.clear {
  clear: both;
}

.content {
  background-color: #36558F;
  color: lightgray;
  /*font-family: 'Open Sans', sans-serif;*/
  font-family: 'Raleway', sans-serif;
  /*font-family: 'Roboto', sans-serif;*/
  margin-top: 15px;
}

#line {
  border-bottom: 3px solid lightgray;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
  padding: 5px;
}

#header {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
}

.main {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
}

.list {
  list-style-type: none;
  padding-left: 0px;
}

.card {
  padding: 16px;
  border: 1px solid lightgray;
  background-color: #36558F;
  border-radius: 3px;
  max-width: 400px;
  transition: background-color 1s, color 1s;
}

li:hover {
  background-color: lightgray;
  color: #00449E;
}

ion-icon {
  font-size: 35px;
  margin: -4px;
  padding: 4px;
}

#name {
  font-size: 35px;
}

.bottom {
    position: relative;
    bottom: 0;
    padding: 5px;
    text-align: center;
}

p {
  font-size: 18px;
}

.social {
  text-align: right;
}

#desc {
  padding-left: 22px;
  padding-top: 23px;
  font-size: 24px;
}

.fade-in {
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

i {
  font-size: 55px;
  margin: 4px;
}

.top-space {
  padding-top: 2px;
  padding-left: 16px;
}

@media only screen and (max-device-width: 600px) {
     .main, .row, #header, #line {
       width: 90%;
     },
     #desc {
        font-size: 20px;
     }
}
