body {
  background-color: navy;
}

header {
  color: #d4d4d4;
  text-align: left;
  font-size: 200%;
  font-family: consolas;
  padding-top: 5%;
  padding-left: 5%;
}

.item {
  display: inline-block;
  border: 1px #d4d4d4 solid;
  border-radius: 5px;
  color: #d4d4d4;
  width: 25%;
  margin: 3%;
  text-align: center;
  font-family: consolas;
}
